$font-weight: 100;
$color-white: #fff;
@mixin focus($property) {
    border: 2px solid $property;    
}
html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    cursor: none;
    color: $color-white;
    font-weight: $font-weight;
}

main {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100vw;
    h1{
        color:#fff;
        flex: 0 0 45%;
        margin-top: 45px;
        font-weight: $font-weight;
    }
    img {
        width:52%;
    }
}

.nav-list {
    flex:0 0 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
    h3 {
        font-size: 16px;
        font-weight: $font-weight;
    }
}

.videos-category {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    max-height: 138px;
    transition: marginLeft 1s linear;
    -webkit-transition: marginLeft 1s linear;
    li{
        display: inline-block;
        list-style: none;
        margin:0px 14px 5px 0px;
        img {
            width: 85%;
            border: 2px solid transparent;
            box-sizing: border-box;
        }
        img.is-focus {
            @include focus($color-white);
        }
     }
     li.hidden {
        display: none;
     }
}
.is-focus {
    @include focus($color-white);
}
.nav-details {
    display: flex;
    align-self: flex-start;
    margin-left: 45px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 20px;
        li {
            display: block;
            margin: 15px;
            padding: 5px 0px 5px 10px;
            width: 180%;
        }
    }
}

.details-header {
    display: flex;
    flex: 0 0 45%;
    align-items: baseline;
    h1 {
        flex: none;
        font-size: 2em;
    }
    span {
        margin-left: 25px;
    }
}