$font-weight: 100;
$color-white: #fff;

html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    cursor: none;
    color: $color-white;
    font-weight: $font-weight;
}
h1{
    color:#fff;
    flex: 0 0 45%;
    margin-top: 45px;
    font-weight: $font-weight;
}
h3 {
    font-size: 16px;
    font-weight: $font-weight;
}
main {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100vw;
    img {
        width:52%;
    }
}

.nav-list {
  width: 100%;
  margin: auto;
  display:flex;
  flex-direction: column;
}
ul.videos-category {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 50%;
  transition: marginLeft 1s linear;
  -webkit-transition: marginLeft 1s linear;
}

ul.videos-category li {
  flex: 1;
  list-style: none;
 }

ul.videos-category li span.video {
  display: block;
  width: 263px;
  height: 140px;
  background-repeat: no-repeat;
}
ul.videos-category li span.video.is-focus {
  width: 267px;
  border: 2px solid $color-white;
  background-size: calc(100% + 4px);
}
.nav-details {
    display: flex;
    align-self: flex-start;
    margin-left: 45px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 20px;
        li {
            display: block;
            margin: 15px;
            padding: 5px 0px 5px 10px;
            width: 180%;
        }
    }
}
.details-header {
    display: flex;
    flex: 0 0 45%;
    align-items: baseline;
    h1 {
        flex: none;
        font-size: 2em;
    }
    span {
        margin-left: 25px;
    }
}
